Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

install-yamls-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal

cifmw-data-plane-adoption-osp-17-to-extracted-crc:
  dependencies:
  - openstack-k8s-operators-content-provider

cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph:
  dependencies:
  - openstack-k8s-operators-content-provider

Propagate exit code in adoption standalone script
  devsetup/scripts/standalone.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Run standalone_sync in make standalone
  devsetup/Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

TLS Everywhere configuration for standalone
  devsetup/scripts/standalone.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/undercloud.conf.j2
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Sync the time after reverting snapshot
  devsetup/Makefile
  devsetup/scripts/standalone-sync.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Standalone - Ironic - Change IPA URI
  devsetup/standalone/post_config/ironic.sh
Due: cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Fix bmaas multiple nodes libvirt
  devsetup/scripts/bmaas/sushy-emulator.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Standalone - fix service_net_map_override
  devsetup/standalone/network_data.j2
Due: cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add routes to the net-iso bridge
  devsetup/Makefile
  devsetup/scripts/ipv6-nat64/nat64_router.sh
  devsetup/scripts/network-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Changeup on octavia cluster networking
  scripts/gen-netatt.sh
  scripts/gen-nncp.sh
Due: none

Add quotes around MAC address
  devsetup/scripts/bmaas/generate-nodes-yaml.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

edpm_deploy_instance create floating ip before server
  README.md
  devsetup/scripts/edpm-deploy-instance.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Patch network.operator when OVNKubernetes
  devsetup/scripts/crc-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Fix issues with ipv6 netattach and network-setup
  devsetup/scripts/network-setup.sh
  scripts/gen-netatt.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Use branch BMO controller image
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add support for installing certmanager on OCP 4.15
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Set a domain on generated EDPM nodes
  devsetup/scripts/gen-edpm-node-bgp.sh
  devsetup/scripts/gen-edpm-node.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Drop support for 4.10 for certmanager; switch certmanager to stable-v1
  Makefile
  scripts/gen-olm-cert-manager-okd.sh
  scripts/gen-olm-cert-manager.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

DNM - Check CI with image CRC 2.34.1 base on OCP 4.15.3
  zuul.d/jobs.yaml
Due: none

Deploy Barbican before running Swift kuttl tests
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Remove redis
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Use higher metric than route added with crc
  scripts/gen-nncp.sh
Due: none

Change localdomain to ooo.test
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/config-download.yaml
  devsetup/tripleo/overcloud_services.yaml
  devsetup/tripleo/undercloud.conf.j2
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Path conditions:
  install-yamls-crc-podified-edpm-baremetal: (any of: ^devsetup/Makefile, ^devsetup/edpm/config/*, ^devsetup/edpm/services/*, ^devsetup/scripts/*, ^devsetup/scripts/bmaas/*, ^devsetup/scripts/edpm-compute-bmaas.sh, ^devsetup/scripts/gen-ansibleee-ssh-key.sh, ^scripts/gen-edpm-baremetal-kustomize.sh, ^Makefile) and (unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md)
  cifmw-data-plane-adoption-osp-17-to-extracted-crc: any of: ^devsetup/Makefile, ^devsetup/scripts/*, ^devsetup/standalone/*, ^Makefile, ^zuul.d/projects.yaml
  cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph: any of: ^devsetup/Makefile, ^devsetup/scripts/*, ^devsetup/standalone/*, ^Makefile, ^zuul.d/projects.yaml
